#main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    /* CSS Code */
    /* Heading */
    h1 {
        color: rgb(23, 170, 62);
        font-size: 45px;
    }
    .gamepad{
        width: 250px;
        height: 160px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        border: 0;
    }
 
    /* 3*3 Grid */
    #b1, #b2, #b3, #b4, #b5,
    #b6, #b7, #b8, #b9 {
        width: 80px;
        height: 52px;
        font-size: 30px;
        text-align: center;
        color: #000;
        font-weight: bold;
        background: yellow;
        border: NONE;
    }
    #b1, #b2, #b3{
        border-bottom: 1px solid black;
    }
    #b7, #b8, #b9{
        border-top: 1px solid black;
    }
    #b1, #b4, #b7{
        border-right: 1px solid black;
    }
    #b3, #b6, #b9{
        border-left: 1px solid black;
    }
 
    /* Reset Button */
    #btn {
        box-sizing: border-box;
        width: 95px;
        height: 40px;
        border: 1px solid black;
        margin: auto;
        border-radius: 4px;
        font-family: Verdana,
            Geneva, Tahoma, sans-serif;
 
        background-color: rgba(182, 22, 1, 0.881);
        color: white;
        font-size: 20px;
        cursor: pointer;
    }
 
    /* Player turn space */
    #print {
        font-family: Verdana,
            Geneva, Tahoma, sans-serif;
 
        color:black;
        font-size: 20px;
    }
 
    /* Main Container */
    #main {
        text-align: center;
    }
 
    /* Game Instruction Text */
    #ins {
        font-family: Verdana,
            Geneva, Tahoma, sans-serif;
             
        color: black;
        font-size: 17px;
    }
